{:source-paths ["src"]
 :dependencies [[com.github.ljpengelen/shadow-cljs-hash-assets-hook "1.0.2"]
                [org.babashka/sci "0.2.8"]
                [reagent "1.1.0"]
                [metosin/reitit-core "0.5.17"]
                [metosin/reitit-frontend "0.5.17"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :build-hooks [(shadow-cljs-hash-assets-hook/hash-assets! {:source-root "public"
                                                                          :target-root "dist"
                                                                          :index "index.html"
                                                                          :files ["css/site.css" "js/app.js"]})]
                :modules {:app {:entries [cfb.core]}}
                :devtools {:after-load cfb.core/mount-root}}}
 :dev-http {3000 "public"}}
