{:linters {:clojure-lsp/unused-public-var {:exclude #{cfb.core/init!
                                                      user/app
                                                      user/cljs}}}}
